
body {
background: radial-gradient(circle, rgba(252,220,220,1) 0%, rgba(255,255,255,1) 100%);;
}

.container {
  margin: 60px auto 0px auto;
  text-align: center;
}
.container h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  color: #212121;
  letter-spacing: 3px;
}
.container h1 span {
  display: inline-block;
}
.container h1 span:before, .container h1 span:after {
  content: "";
  display: block;
  width: 34px;
  height: 2px;
  background: linear-gradient(90deg, rgba(220,252,246,1) 0%, rgba(255,223,241,1) 100%);
  margin: 0px 0px 0px 2px;
}

.effect {
  width: 100%;
  padding: 50px 0px 70px 0px;
    background: linear-gradient(90deg, rgba(220,252,246,1) 0%, rgba(255,223,241,1) 100%);
}
.effect h2 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.effect:nth-child(2) {
  margin-top: 50px;
}
.effect:nth-child(2n+1) {
  background-color: #fff;
}
.effect:nth-child(2n+1) h2 {
  color: #212121;
}
.effect:nth-child(2n) a {
  color: #fff;
  border-color: #fff;
}
.effect .buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}


.effect a {
  text-decoration: none !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 25px;
  overflow: hidden;
  position: relative;
  color: #212121;
  border: 2px solid #212121;
}
.effect a i {
  position: relative;
  z-index: 2;
}
.effect a:last-child {
  margin-right: 0px;
}
.effect a:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.effect a i {
  display: inline-block;
  vertical-align: middle;
}


/* icons effect */
.effect.icons a {
  transition: all 0.2s linear 0.2s;
}
.effect.icons a i {
  transition: all 0.2s linear 0s;
}
.effect.icons a:hover {
  transition: all 0.2s linear 0s;
  border-color: rgba(33, 33, 33, 0);
}
.effect.icons a:hover i {
  transform: scale(1.15);
  text-shadow: 4px 0px 3px rgba(33, 33, 33, 0.3);
  transition: all 0.2s linear 0.2s;
}
